body {
    width: auto;
    margin: 15;
    background-color: #2f3640;
    color: white;
}

h1 {
    text-align: center;
}

a {
    color: #f5f6fa;
    font-family: cursive;
}

#grid {
    background-color: gray;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    text-align: center;
}

div {
    border: 1px solid white;
    display: table-cell;
    vertical-align: middle;
}